<div class="row mb-2">
    <div class="col-12 col-md-4 fw-bold">{{ 'guiziweb_sylius_test.ui.isbn'|trans }}</div>
    <div class="col-12 col-md-8">{{ hookable_metadata.context.resource.isbn }}</div>
</div>